@model Tazkarty.ViewModel.CreateMatchViewModel

@{
    ViewData["Title"] = "Create Match";
}

<h2>Create Match</h2>

<form asp-action="Create" method="post" asp-controller="Match">
    <div class="form-group">
        <label asp-for="TeamA"></label>
        <input asp-for="TeamA" class="form-control" />
        <span asp-validation-for="TeamA" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TeamB"></label>
        <input asp-for="TeamB" class="form-control" />
        <span asp-validation-for="TeamB" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MatchDate"></label>
        <input asp-for="MatchDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="MatchDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create Match</button>
</form>

